

body {
    padding-top: 70px;
}

.container{
	font-size: 18px;
}



.intro {
    padding: 4px 15px;
    <!-- text-align: center;
    -->
}


.photo{
    border:1px solid black;
}

.photo-div{
     padding: 0px;
     max-width: 100%;
}

.li-spacing{
  margin: 4px 0;
}

.break {
    padding-bottom: 6px;
    clear: both;
}

.center {
    display: block;
    margin: auto;
    width: 40%;
    text-align: center;
}

@media only screen and (max-width: 768px) {
        /* Force table to not be like tables anymore */
        #intro table,
        #intro thead,
        #intro tbody,
        #intro th,
        #intro td,
        #intro tr {
        display: block;
        }
         
        /* Hide table headers (but not display: none;, for accessibility) */
        #intro thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
        }
         
/*        #intro tr { border: 1px solid #ccc; } */
          
        #intro td {
        /* Behave like a "row" */
        border: none;
        position: relative;
        padding-left: 0%;
        white-space: normal;
        text-align:left;
        }
         
        #intro td:before {
        /* Now like a table header */
        position: absolute;
        /* Top/left values mimic padding */
        top: 6px;
        left: 6px;
        width: 100%;
        padding-right: 10px;
        white-space: nowrap;
        text-align:left;
        font-weight: bold;
        }
         
        
        }

#more {display: none;}
button.link { background:none; border:none; }

